<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Prakhar Varshney/IdeaProjects/LearningSeleniumATB9x">
        <classes>
            <class name="com.prakharvarshney95.ex01.SeleniumBasics.TestSelenium01">
                <methods>
                    <include name="test_Selenium01"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>